 body
        {
            font-size: 62.5%;
            background-color: #000000;
        }
        
        body, html, *
        {
            font-family: Gill, Helvetica, sans-serif;
            font-size: 12px;
            color: #ffffff;
        }
        
        A:link
        {
            text-decoration: underline;
            color: yellow;
        }
        A:visited
        {
            text-decoration: underline;
            color: ORANGE;
        }
        A:active
        {
            text-decoration: underline;
        }
        A:hover
        {
            text-decoration: underline;
            color: green;
        }
        
        
        
        H1
        {
            font-weight: bold;
            font-variant: small-caps;
            font-size: 18px;
            font-family: Gill, Helvetica, sans-serif;
        }
        
        H2
        {
            color: transpernt;
            font-weight: bold;
            font-size: 18px;
            font-family: Gill, Helvetica, sans-serif;
        }
        
          
        label
        {
            display: block;
        }
        input.text
        {
            margin-bottom: 2px;
            width: 95%;
            height:25px;
            padding: .4em;
        }
        fieldset
        {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }
        
        div#users-contain
        {
            width: 750px;
            margin: 20px 0;
        }
        div#users-contain table
        {
            margin: 1em 0;
            border-collapse: collapse;
            width: 100%;
        }
        div#users-contain table td, div#users-contain table th
        {
            border: 0px solid #eee;
            padding: .6em 10px;
            text-align: left;
        }
        .ui-dialog .ui-state-error
        {
            padding: .3em;
        }
        .validateTips
        {
            border: 1px solid transparent;
            padding           : 0.3em;
        }

       div#users-containSum table
        {
            margin: 0;
            border-collapse: collapse;
            width: 100%;
        }
 
      
      
        
      
